<table class="table table-striped table-responsive">
    <tr>
        <th></th>
        <th>ISO</th>
        <th>Velocidade (obturador)</th>
        <th>Abertura (diafragma)</th>
        <th>Total</th>
    </tr>
    <tr>
        <th>Configuração 1</th>
        <td><select class="form-control" ng-model="isoA" ng-change="update()" ng-options="iso for iso in isos"></select></td>
        <td><select class="form-control" ng-model="shutterA" ng-change="update()" ng-options="shutter for shutter in shutters"></select></td>
        <td><select class="form-control" ng-model="apertureA" ng-change="update()" ng-options="aperture for aperture in apertures"></select></td>
        <td></td>
    </tr>
    <tr>
        <th>Configuração 2</th>
        <td><select class="form-control" ng-model="isoB" ng-change="update()" ng-options="iso for iso in isos"></select></td>
        <td><select class="form-control" ng-model="shutterB" ng-change="update()" ng-options="shutter for shutter in shutters"></select></td>
        <td><select class="form-control" ng-model="apertureB" ng-change="update()" ng-options="aperture for aperture in apertures"></select></td>
        <td></td>
    </tr>
    <tr>
        <th>Diferença</th>
        <td>{{deltaIso}} EV</td>
        <td>{{deltaShutter}} EV</td>
        <td>{{deltaAperture}} EV</td>
        <td>{{deltaTotal}} EV</td>
    </tr>
</table>